@import "foundation";

/* Typography */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen', sans-serif;
}

body {
	padding: 25px 0 0 0;	
	p {
		font-size: 14px;
		color: #7a7a7a!important;
	}
}

/* Links */

a:link {
	color: rgba(60,129,63,1);
	font-weight: bold;
}
a:hover {
	color: rgba(60,129,63,.8);
}
a:visited {
	color: rgba(60,129,63,.4);
}

/* Navigation */

.top-bar {
	background-color: #006f51;
}
ul.main-nav {
	background-color: #006f51;
	.idea {
		text-transform: uppercase;
	}
	a:link {
		color: #fff;
		background-color: #006f51;
	}
	a:hover {
		color: #fff;
		background-color: #83984f!important;
	}
}
.top-bar-section li a:not(.button) {
	background-color: #006f51;
}
.top-bar-section ul li > a {
	font-size: 14px;
}
#has-money {
	background: #006F51 url("/stuff/images/icon-user-dollar.png") no-repeat 0px 0px!important;
	padding-left: 44px;
}

/* billboard */

.billboard {
	background: url("/stuff/images/billboard-bg.jpg") repeat;
	height: 321px;
	width: 100%;
	margin: 20px 0;
	padding: 30px 0 0 0;
	.stats-n-cta {		
		background-color: rgba(255,255,255,.85);		
		h1 {
			text-transform: uppercase;
			font-weight: bold;
			color: #27889f;		
			margin: 20px 0 0 0;	
			line-height: 50px;
		}
		.subheader {
			margin: 5px 0 0 0;
			text-transform: uppercase;
			font-weight: bold;
		}
		.box {			
			float: left;
			margin: 15px 37px;
			p {
				margin: 0 0 5px 0;
				font-size: 12px;
				color: #929083;
				font-weight: normal;
			}
			h2 {
				letter-spacing: -1px;
				margin: 0;
				line-height: 40px;
				font-weight: bold;
				font-size: 45px;
				font-family: HelveticaNeue, Helvetica, arial;
				color: #929083;
			}
		}
		.box1 {
			margin-right: 67px;

		}
		.box2 {

		}
		.box3 {

		}
		.cta {
			clear: both;
			width: 40%;
			margin: 0 auto;
			.button {
				background-color: #929083;
				box-shadow: none;
				border: none;
				color: #fff;
				border: 1px solid #89877d;
				width: 100%;
			}
		}
	}
}

.stats-number {
	background-color: #ebebeb;
	padding: 20px;
	margin: 0 0 20px 0;
	border: 1px solid #dddddd;
	p {
		margin: -18px 0 0 0;
		color: #8a8a8a;
		span {
			font-size: 40px;
			color: #8a8a8a;
			font-weight: bold;
			margin: 0 .25em 0 0;
			padding: 0;
			display: inline-block;
			line-height: 40px;
			position: relative;
			top: 10px;
			letter-spacing: -2px;
		}
	}
}

/* ==========================================================================
   Create Page
   ========================================================================== */
.openAccount {
	background-color: #d2f0e2;
	border: 1px solid #87ccac;
	// border-bottom: 1px solid #ddd;	
	margin: 20px 0 0 0;
	padding: 10px 20px;
	h2 {
		font-size: 15px;
		color: #464646;
	}
	p {
		font-size: 12px;
	}
	.secondary {
		background-color: #3c813f;
		color: #fff;
		text-transform: uppercase;
		border: none;
	}	
}
.media-buttons {		
	margin: 20px 0 20px 0;	
	padding-top: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;	
	h4 {
		color: #27889f;
		margin-bottom: 0;
	}
	p {
		margin: 0 0 10px 0;
	}
	.button {		
		margin: 0;
	}
	.openAccount {
		border: 1px solid red;
		float: right;
	}	
}
.submit-q {
	label {
		font-size: 20px;
		display: inline-block;
		margin: .25em 0 .5em 0;
	}
}
textarea {
	height: 250px;
}
.coinGiftCheck {
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	input {
		margin-right: .5em;
	}
	label {
		display: inline-block;		
		margin-right: 1em;
	}	
}

/* Sidebar */

.help-idea {
	margin-top: 17px;
}
.faq {
	h5 {
		font-size: 1em;		
		color: #27889f;
	}
	p {
		font-size: .75em;
	}
}

/* ==========================================================================
   Campaign Page
   ========================================================================== */
.cmpgn {


}
.cmpgn-image {
	padding: 0;
}
.campaign-info {   		
	margin: 20px 0 0 0;   		
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ddd;
}
.donate-panel {
	background-color: #F2F2F2;
	border: 1px solid #ddd;
	.box {
		margin:0 30px 0 0;		
		padding: 10px 0;		
		float: left;
		h1, h2 {
			margin: 0;
			padding: 0;
			line-height: 40px;
			font-family: HelveticaNeue, Helvetica, arial;
			letter-spacing: -2px;
			color: #27889f;
		}
		h1 {
			font-size: 45px;			
		}
		h2 {
			font-size: 40px;
		}
		.subheader {
			margin: 0 0 5px 0;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 12px;
			font-weight: bold;
			color: #929292!important;
		}
	}

	.exp {
		font-size: 14px;
		font-weight: normal;
		background-color: #fff;
		border-top: 1px solid #ddd;
		margin: 0 -15px;
		padding: .25em 0 .25em 1em;
		color: #727272;
	}
	.cta {
		.button {
			color: #fff;
		}
	}

}
.campaign-desc {
	padding: 20px 0 0 0;
}

/* Blog */

.blog {
	h4 {
		color: #27889f;
	}
}

/* Comment */

.comment {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 20px 0 10px 0;
	&:first-child {

	}
	span {
		color: #999;
	}
	.voting {
		background-color: #333;
		float: left;
		width: 20px;
		margin: 0 10px 0 0;
	}
	.subCommentBox {
		margin: 0 0 0 30px;
		p {margin: 0 0 .25em 0;}
	}
	.commentAuthor {
		color: #999;
		display: block;
		margin: 0 0 .25em 0;
	}
	.subComment {
		
		padding: 0 0 0 30px;
		margin: .5em 0;
	}
	ul.commentFooter {		
		padding: 0 0 6px 0px;
		list-style: none;
		margin: 0;
		li {
			list-style: none;
			float: left;
			font-size: 13px;
			margin: 0 10px 0 0;
			color: #929292;
			a:link {
				color: #727272!important;
			}
			a:visited {
				color: #929292!important;	
			}
		}		
	}
}



/* ==========================================================================
   Giving Page
   ========================================================================== */

.coins-amount {
	ul {		
		li {
			border-bottom: 1px solid #ddd;
			padding: 1em 1em 1em .25em;
			list-style: none;
			img {
				display: inline-block;
				margin: 0 .75em 0 .5em;
				position: relative;
				top: -4px;
			}
			span {
				font-size: 28px;
				line-height: 28px;
				font-weight: bold;
				color: #4c5b52;
			}
			&:first-child {
				border-top: 1px solid #ddd;
			}
		}
	}
	label {
		display: inline;
		margin: 0 1em 0 0;
		font-size: 20px;
	}
	input {
		margin: 0 1em 1em 0em;
	}
}


/* Reusable widgets */

.profile {
	margin-top: 16px;
}

.sidebarBoxOne {
	background: none repeat scroll 0 0 #F2F2F2;
	border-color: #D9D9D9;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1.25em;
	padding: 0 1em .25em 1em;	
	p {
		margin-bottom: .5em;
		font-size: 12px;
	}	
	.sidebarBoxTitle {
		background-color: #fff;
		font-size: 11px;
		font-weight: bold;
		border-bottom: 1px solid #d9d9d9;		
		font-family: Helvetica;
		padding: .5em .25em .25em 1em;
		color: #929292;		
		margin: 0 -16px;
		text-transform: uppercase;		
	}
	a:link {
		margin: 0;
		padding: 0;
	}
	/* List inside sidebar box */
	.cmpgnCreator {
		list-style: none;
		padding: 1em 0 0 0;
		margin: 0;
		li {
			list-style: none;
			//border: 1px solid #999;
			line-height: 16px;			
			margin: 0 0 0 90px;			
		}
		li.picture {		
			float: left;		
			margin: 0 1em .5em 0;
			height: 110px;
			img {
				border: 1px solid #999;
				padding: 2px;
			}
		}
		li.name {
			h5 {
				line-height: 16px;
			}
		}
	}
	.giversList {
		list-style: none;
		padding: 1em 0 .5em 0;
		margin: 0;
		li {
			border-bottom: 1px solid #ddd;
			padding: .5em 0;
			p {
				font-size: 14px;
				margin: 0;
			}
			img {
				position: relative;
				display: inline-block;
				margin: 0 .5em 0 0;
			}			
				&:first-child {
				border-top: 1px solid #ddd;
			}
		}		

	}

}






/* Nicolas Gallagher's micro clearfix */
.group { *zoom: 1; }
.group:before, .group:after { content: " "; display: table; }
.group:after { clear: both; }

.button {box-shadow: none;}
.cta-button {background-color: #929083; color: #fff; border: 1px solid #89877d;}