{# app/Resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

	{% block body %}

	<body>

    {{ include('CympelCoinGiftBundle:Default:nav.html.twig')}}


  <!-- Trending this week -->

  <div class="row">
    <div class="large-12 columns">    	
      <div class="row">      	    

		<div class="large-8 small-12 columns">        

			<div class="meda-buttons">
				<a href="#" class="medium button">Large Button</a>
				<a href="#" class="medium button">Large Button</a>
				<a href="#" class="medium button">Large Button</a>
			</div>

		</div>

        <div class="large-8 small-12 columns">

        <div class="submit-q">
          <form>
          	<h4>Write your idea</h4>
          	<textarea  placeholder="small-12.columns">
          	</textarea>
          </form>
         </div>

         <div class="submit-q">
          <form>
          	<h5>What inspiration have you had to develop this idea?</h5>
          	<textarea  placeholder="small-12.columns">
          	</textarea>
          </form>
         </div>


	    <div class="submit-q">
          <form>
          	<h5>What benefits/impact will this idea to the community?</h5>
          	<textarea  placeholder="small-12.columns">
          	</textarea>
          </form>
         </div>

         

        </div>  {# end large-8 #}

        <div class="large-4 small-12 columns">

        	<div class="panel faq help-idea">
	        	<h5>Need help with your idea?</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more</a></p>
	        </div>

	        <div class="panel faq">
	        	<h5>Who will fund this cause?</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more</a></p>
	        </div>

	        <div class="panel faq">
	        	<h5>How notifications works</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more</a></p>
	        </div>


        </div>  {# end large-4 #}

      </div> {# end row #}

    </div>
  </div>

<!-- End trending this week -->

    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  

	{{ include('CympelCoinGiftBundle:Default:scripts.html.twig')}}

	</body>

{% endblock body %}

