{# app/Resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

	{% block body %}

	<body>

    {{ include('CympelCoinGiftBundle:Default:nav.html.twig')}}


  <!-- Trending this week -->

  <div class="row">
    <div class="large-12 columns">    	
    	<div class="row">
	      	<div class="large-8 small-12 columns">	      		
	            <div class="media-buttons">
	                <h4>Share your idea and make an impact in your community.</h4>
	                <p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor.</p>
	                <a href="#" class="medium button secondary">Video</a>
	                <a href="#" class="medium button secondary">Picture</a>
	                <a href="#" class="medium button secondary">Take a Picture</a>				
	            </div> {# end media buttons #}
	        </div>
	        <div class="large-4 small-12 columns">
				<div class="openAccount">
	            	<h2>Open a First National Bank Account</h2>
	            	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla.</p>
	                <a href="https://www.firstnational.com/welcome/Marketing?bank_promo_code=CUSONEYOU&siteid=OM&alignment=DynamicNationalMarketing&ref_url=http://www.firstnational.com/site/personal/banking/checking-accounts/index.fhtml" class="medium button secondary expand">Open Account Now</a>
	            </div>
	        </div>

    	</div> {# end row #}


      <div class="row">

        {{ render(controller('CympelCoinGiftBundle:Default:createForm')) }}
        <div class="large-4 small-12 columns">

        	<div class="panel faq help-idea">
	        	<h5>Need help with your idea?</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more &#187;</a></p>
	        </div>

	        <div class="panel faq">
	        	<h5>Who will fund this cause?</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more &#187;</a></p>
	        </div>

	        <div class="panel faq">
	        	<h5>How notifications works</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more &#187;</a></p>
	        </div>
					
        </div>  {# end large-4 #}      

</div>
  </div> {# end row #}

<!-- End trending this week -->

{{ include('CympelCoinGiftBundle:Default:footer.html.twig')}}
  
{{ include('CympelCoinGiftBundle:Default:scripts.html.twig')}}

	</body>

{% endblock body %}

