	{# navigation.html.twig #}
 <div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                <img src="/stuff/images/fnb-logo.jpg" />
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left main-nav">
            <li><a href="{{ path('coinGiftHome') }}">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="idea"><a href="{{ path('coinGiftCreate') }}">Submit Your Idea</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>

          <ul class="right login-nav">
            <li class="has-dropdown"><a href="#" id="has-money">Juliano Dasilva</a></li>            
          </ul>

        </section>
      </nav>

    <!-- End Navigation -->
  
    </div>
  </div>