<div class="row">
    <div class="large-12 columns">
        <h4>Trending this week</h4>
        <div class="row">
            {% for campaign in firstFourCampaigns %}
            <div class="large-3 small-6 columns">
                <img src="{{ campaign.headlineImageUri }}" />
                <h6 class="panel">{{ campaign.id }}</h6>
            </div>
            {% endfor %}

<!--            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/250x250&text=Thumbnail" />
                <h6 class="panel">Description</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/250x250&text=Thumbnail" />
                <h6 class="panel">Description</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/250x250&text=Thumbnail" />
                <h6 class="panel">Description</h6>
            </div>
-->
        </div>

        <div class="row">

            {% for campaign in nextFourCampaigns %}
            <div class="large-3 small-6 columns">
                <img src="{{ campaign.headlineImageUri }}" />
                <h6 class="panel">{{ campaign.id }}</h6>
            </div>
            {% endfor %}
<!--
            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/250x250&text=Thumbnail" />
                <h6 class="panel">Description</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/250x250&text=Thumbnail" />
                <h6 class="panel">Description</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/250x250&text=Thumbnail" />
                <h6 class="panel">Description</h6>
            </div>
-->
        </div>
    </div>
</div>